/* ?CSS PROPERTIES */
:root {
    --primarycolor: #fff;
    --secondarycolor: #2c3e50;
}

/* ?GENERICS */
header,
.footer-bot {
    min-height: 80px;
    background-color: var(--secondarycolor);
}

li,
a {
    text-decoration: none;
    list-style-type: none;
    color: var(--primarycolor);
}

img {
    max-width: 100%;
    height: auto;
}


.card img {
    max-height: 250px;
}

/* ?HEADER */
header div {
    min-height: 40px;
    border: 1px solid red;
}

section {
    padding: 20px 0;
    min-height: 500px;
}


/* ?MAIN */
/* Sezione Jumbotron */
.jumbotron {
    min-height: 200px;
    background-color: #1abc9c;
}

.jumbotron .card {
    background-color: #1abc9c;
    border-color: transparent;
}

.card-decoration {
    width: 100px;
    height: 4px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 10px;
}

.jumbotron .card-decoration {
    background-color: var(--primarycolor);
}

i {
    position: relative;
    top: 10px;
}


/* Sezione portfolio */
.portfolio {
    color: var(--secondarycolor);
}

.portfolio .card-decoration {
    background-color: var(--secondarycolor);
}

/* Sezione about-us */
section.about-us {
    background-color: #1abc9c;
}

.about-us .card-decoration {
    background-color: var(--primarycolor);
}

.about-us button {
    max-width: 150px;
}

.about-us button i {
    position: relative;
    top: 0px;
    left: 0;
}


/* Sezione contact-us */


/* ?FOOTER */
/* Sezione info */
.footer-top {
    background-color: #3a546d;
}